.env
/venv
venv/
.env
__pycache__/
.pytest_cache
logs/
.envrc

# google cloud credentials
credentials.json

# the google drive authentification information that gets stored on the computer
token.json

# my personal notes
quickstart.txt