.env
/venv
venv/
.env
__pycache__/
.pytest_cache
logs/
.envrc

# google cloud credentials
credentials.json
googledrive/service_account_key.json

# the google drive authentification information that gets stored on the computer
token.json
servicekey.json
service_account_key.json

# my personal notes
quickstart.txt
testcloud.txt
service-account.json

tokenOld.json